

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: 'VT323', monospace;
  position: relative;
}
.App-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-section {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-section .input-box {
  align-items: center;
  border: yellow 2px solid;
  border-radius: 5px;
  background-color: thistle;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.App-section .input-box input {
  display: block;
  font-family: 'VT323', monospace;
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
}
.App-section .input-box label {
  display: block;
  font-size: 2rem;
  left: 0;
  margin-bottom: 5px;
  position: relative;
}
.App-section .input-box label:nth-child(1) {
  margin-top: 1.7rem;
}